<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Data and analytics made simple.</h2>
                <hr class="light">
                <p class="text-faded">We bring together years of experience in advanced economics, econometrics, statistics, analysis, measurement, experimentation, and visualization to offer simple solutions to complex problems.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
